<h3>Add a new Bottle of Wine.</h3>
<form action="/wine/list" method="post">
  <label for="wine">Add to our wine collection</label>
  <input type="text" name="wine">
  <button type="submit">Add Wine!</button>
</form>
