<h3>Add a new Yacht.</h3>
<form action="/yacht/list" method="post">
  <label for="yacht">Add to our yacht collection</label>
  <input type="text" name="yacht">
  <button type="submit">Add Yacht!</button>
</form>
