<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Our Sweet Inventory</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Our Inventory</h1>
    <a href="/yacht">Add a new Yacht.</a>
    <a href="/wine">Add a bottle of wine.</a>
  </body>
  </html>
